.footer{
  background: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
  padding: 3em;
  
  &__icons{
    display: flex;
    font-size: 1.5em;
    column-gap: 1.5em;
    align-items: center;
    a{
      text-decoration: none;
      color: #fff;
    }
    a:hover{
      color: #ffbb33;
      cursor: pointer;

    }
  }

  &__copy{
    color: #ffbb33;
    font-weight: 700;
  }
}